{% extends 'base.html.twig' %}

{% set action = app.current_route =='app_admin_cours_newCours'? 'Création ':'Édition ' %}

{% block body %}
    <section>
        <div>
            <a href="{{ path('app_admin_index') }}">Retour au menu principal</a>
        </div>
    </section>
    <section>
        <h1>{{ action }} Cours</h1>
        <div>
            {{ form_start(form) }}
            {{ form_row(form.titre, {label:'Titre de la vidéo'}) }}
            {{ form_row(form.video, {label:'Vidéo'}) }}
            {{ form_row(form.texte, {label:'Texte explicatif'}) }}
            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
        <div>
            <form action="{{ path('app_admin_cours_delete',{id:cours.id}) }}" method="post">
                <button type="submit" onclick="return confirm('Ètes-vous sur de vouloir supprimer ce cours ?')">Supprimer</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block title %}
{{ action  }} Cours
{% endblock %}

