{% extends 'base.html.twig' %}

{% block title %}Hello listeController!{% endblock %}

{% block body %}
    <section>
        <div>
            <a href="{{ path('app_admin_index') }}">Retour au menu principal</a>
        </div>
    </section>
    <section>
        <h1>Liste des Formations</h1>
        <div>
            <ul>
                {% for formation in formations %}
                    <div>
                        {{ formation.nom }}
                        {{ formation.dateCreation|date }}
                        {{ formation.etatPublication.value }}
                        {{ formation.cours.count }}

{#                        <p><a href="{{ path('app_admin_etudiant_detailEtudiant',{id:etudiant.id}) }}">Détails</a></p>#}
                    </div>
                {% else %}
                    <li>
                        Aucunes formations enregistrées
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
