{% extends 'base.html.twig' %}

{% set action = app.current_route =='app_admin_formation'? 'Création ':'Édition ' %}

{% block title %}{{ action }} Formation{% endblock %}

{% block body %}
    <section>
        <div>
            <a href="{{ path('app_admin_index') }}">Retour au menu principal</a>
        </div>
    </section>
    <section>
        <h1>{{ action }} Formation</h1>
        <div>
            {{ form_start(form) }}
            {{ form_row(form.nom, {label:'Nom'}) }}
            {{ form_row(form.image, {label:'image'}) }}
            {{ form_row(form.cours, {label:'cours'}) }}
            {{ form_row(form.public, {label:'statut public'}) }}
            {{ form_row(form.niveau, {label:'niveau'}) }}
            {{ form_row(form.etat_publication, {label:'etat de la publication'}) }}

            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
        {% if app.current_route =='app_admin_cours_editcours' %}
            <div>
                <form action="{{ path('app_admin_cours_delete',{id:formation.id}) }}" method="post">
                    <button type="submit"
                            onclick="return confirm('Ètes-vous sur de vouloir supprimer cette formation ? Attention celà supprimera les cours qu\'elle contient.')">
                        Supprimer
                    </button>
                </form>
            </div>
        {% endif %}
        <div>
            <p><a href="{{ path('app_admin_listeFormation') }}">Liste des Formations</a></p>
        </div>
    </section>
{% endblock %}
