{% extends 'base.html.twig' %}

{% block title %}Administration Menu{% endblock %}

{% block body %}
    <section>
        <div>
            <a href="{{ path('app_admin_index') }}">Retour au menu principal</a>
        </div>
    </section>
    <section>
        <h1>Bienvenue dans l'administration</h1>
        <div>
            <h2>Vos accès</h2>
            <ul>
                <li><a href="{{ path('app_register') }}">Création d'utilisateurs</a></li>
                <li><a href="{{ path('app_liste_user') }}">Liste des utilisateurs</a></li>
                <li><a href="{{ path('app_admin_cours_newCours') }}">Création d'un cours</a></li>
                <li><a href="{{ path('app_admin_cours_listecours') }}">liste des cours</a></li>
                <li><a href="{{ path('app_admin_formation') }}">Créations d'une formation</a></li>
                <li><a href="{{ path('app_admin_listeFormation') }}">Les formations</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
