{% extends 'base.html.twig' %}

{% set action = app.current_route==''? 'Ajout' : 'Édition' %}

{% block title %}{{ action}} d'un Étudiant{% endblock %}

{% block body %}
    <section>
        <div>
            <a href="{{ path('app_admin_index') }}">Retour au menu principal</a>
        </div>
    </section>
    <section>
        {% if etudiant %}
        <h1>{{ etudiant.nom }} {{ etudiant.prenom }}</h1>
        <div>
            <h3>Détails des informations</h3>
            <p>{{ etudiant.nom }} {{ etudiant.prenom }}</p>
            <p>Role:{{ etudiant.role.value }}</p>
            <p>Date d'inscription : {{ etudiant.dateInscription |date('d M Y')  }}</p>
            <p>Contact: {{ etudiant.email }}</p>
        </div>
            <div>
                <h4><a href="{{ path('app_admin_etudiant_edit', {id: etudiant.id}) }}">Édition de l'étudiant</a></h4>
            </div>
        <div>
            <p><a href="{{ path('app_admin_etudiant_liste') }}">Liste des étudiants</a></p>
        </div>
        {% else %}
        <h1>Cet étudiant n'existe pas</h1>
        {% endif %}
    </section>
{% endblock %}
