{% extends 'base.html.twig' %}

{% block title %}Hello listeController!{% endblock %}

{% block body %}
    <section>
        <div>
            <a href="{{ path('app_admin_index') }}">Retour au menu principal</a>
        </div>
    </section>
    <section>
        <h1>Liste des Étudiants</h1>
        <div>
            <ul>
            {% for etudiant in etudiants %}
                <div>
                    {{ etudiant.nom }}
                    {{ etudiant.prenom }}
                    {{ etudiant.dateInscription }}
                    {{ etudiant.id }}
                <p><a href="{{ path('app_admin_etudiant_detailEtudiant',{id:etudiant.id}) }}">Détails</a></p>
                </div>
            {% else %}
                <li>
                    Aucun étudiants enregistrés
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
