{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <section>
        <h1>Cours</h1>
        <div>
            <h2>{{ cours.titre }}</h2>
            <p>{{ cours.dateCreation|date('d M Y') }}</p>
            <p>{{ cours.texte }}</p>
            <p>nom de la vidéo : {{ cours.video }}</p>
            <video src="{{ asset('public/uploads/videos/' ~ cours.video) }}"  controls></video>
        </div>
    </section>
{% endblock %}



